body
{
    background: #b7bfbc !important;

    font-family :  Verdana;

}
p{

    text-align:center;
    background-color:rgb(194,214,155);
    color:white;
    width:300;
    font-size:x-large;
}
h1{
    text-align:center;
    margin:auto;
    top:20px;
    left:350px;

}
table{
    border:3px solid rgb(127,127,127);
    font-size:small;
    width: 60%;

}
td{
    padding:10;
}
th{
    background-color:rgb(127,127,127);
    padding:15;
    text-align:center;
    color:white;
}

#listage{
    margin:auto;
    width:800px;
    height: 25px;
}

#ListeAtelier{
    text-align: center;
    background-color: white;
    width:500px;
    float:left;
}

#cadre{
    float:right;
    width:290px;
}

#suppression{

    float:left;
    width:50px;
}

#modification{
    float:left;
    width:50px;
}





