body
{
	 background: #b7bfbc !important;

	font-family :  Verdana;

}
p{

	text-align:center;
	background-color:rgb(194,214,155);
	color:white;
	width:300;		
	font-size:x-large;
}
 h2{
	 text-align:center;
	 position:absolute;
	 top:20px;
	 left:450px;

}
h1{
	text-align:center;
	position:absolute;
	top:20px;
	left:350px;


}

table{
	border:3px solid rgb(127,127,127);
	font-size:small;
	width: 40%;

}
td{
	padding:10;
}
th{
	background-color:rgb(127,127,127);
	padding:12;
	text-align:center;
	color:white;
}

.bouton1{
	position: absolute;
	bottom:70px;
	left:530px;
}
.bouton2{
	position: absolute;
	bottom:70px;
	left:660px;
}
