body
{
  background: #b7bfbc !important;

  font-family :  Verdana;   
}
p{

  text-align:center;
  background-color:rgb(194,214,155);
  color:white;
  width:300;
  font-size:x-large;
}
h1{
  text-align:center;
  position:absolute;
  top:20px;
  left:350px;

}
